@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(blackops.woff) format('woff');
}

#number-div {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 25%;
}

#number {
  display: inline-block;
  font-family: "Black Ops One";
  font-size: 150px;
  width: 400px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  background: #1eadff;
  color: #fff;
}

#button-div {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 60%;
}

#button {
  display: inline-block;
  font-family: "Microsoft YaHei";
  font-size: 50px;
  background: #bbb;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

#result {
  color: #1eadff;
  position: fixed;
  top: 20%;
  left: 7%;
}

#label {
  font-family: "Microsoft YaHei";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.result-num {
  text-align: center;
  font-size: 55px;
  font-family: "Black Ops One";
  width: 150px;
}
